body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #333;
}

.header {
    border-bottom: 2px solid #333;
    padding: 10px;
    background-color:skyblue;
}

.navbar {
    width: 100%;
    text-align: center;
}

.navbar td {
    border: 1px solid #999;
    padding: 8px;
}

.logo {
    width: 7rem;
}

.logo-img {
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
}

.nav-links {
    background-color:yellow; 
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.main {
    display: flex;
    height: 100%;
}

.cart {
    margin-left: 5rem;
    height: 12rem;
    width: 50rem;
    background-color: yellow;
}
