.container{
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative ;
    top: 50px;
}
.b1{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative ;
    top: 50px;
}